@font-face {
    font-family: Bebas Neue;
    src: url(../fonts/bebasneue/bebasneuebold.woff),
    url(../fonts/bebasneue/bebasneuebook.woff),
    url(../fonts/bebasneue/bebasneuelight.woff),
    url(../fonts/bebasneue/bebasneueregular.woff),
    url(../fonts/bebasneue/bebasneuethin.woff);
    
}

@font-face {
    font-family: Museo Sans Cyrl;
    src: url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl.woff),
    url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl0.woff),
    url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl1.woff),
    url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl2.woff),
    url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl3.woff),
    url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl4.woff);
}